#post-content,
#edit-post-container .v-md-editor__preview-wrapper
  img
    max-width: 100%
  blockquote
    margin: 0.2rem 0
    padding: 0.5rem 0.5rem 0.5rem 1rem
    border-left: 4px solid #ccc
    color: #888
    p
      margin: 0.2rem

#edit-post-container .v-md-editor__preview-wrapper
  padding: 1rem
  font-size: 14px

// Headers
#post-content,
#edit-post-container .v-md-editor__preview-wrapper,
.site-style
  h1
    @include header-shared(rgba(var(--theme-accent-color--rgb), 0.5), 75%)
    margin-top: 1rem
    margin-bottom: 1rem
    padding: 0 0.4rem
    border: none

  h2
    @include header-shared(rgba(var(--theme-accent-color--rgb), 0.35), 50%)
    margin: 0.4rem 0
    padding: 0 0.4rem

  h3
    @include header-shared(rgba(var(--theme-accent-color--rgb), 0.25), 35%)
    margin: 0.4rem 0
    padding: 0 0.4rem

  h4
    @include header-shared(rgba(var(--theme-accent-color--rgb), 0.2), 25%)
    margin: 0.4rem 0
    padding: 0 0.4rem